<div class="container">
	<h1>Show user</h1>

	<%= @user.username %>

	<div class="row user-post">
	  <% @user_all.each do |post| %>
	      <div class="col-sm-4 col-md-3">
	        <div class="thumbnail">
	          <%= link_to(post) do %>
	          <%= image_tag("image_upload.png", :alt => "images thumbnail", :class => "img-responsive") %>
	          <% end %>
	          <div class="caption">
	            <h3><td><%= link_to post.title, post %></td></h3>
	            <p>
	              <small>Posted by: <%= post.user.username %> - <em><%= time_ago_in_words(post.created_at) %> ago</em></small>
	            </p>
	            <p><%= truncate(post.content, length: 100) %></p>
	            <p>
	              <%= link_to 'Edit', edit_post_path(post), class: "btn btn-sm btn-success" %>
	              <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %>
	            </p>
	          </div>
	        </div>
	      </div>
	  <% end %>
	</div>
	<%= will_paginate @user_all %>
</div>
