<div class="container">
  <%= render 'messages' %>
  <h1>Listing Posts</h1>
    <div class="row">
      <% @posts.each do |post| %>
          <div class="col-sm-6 col-md-4">
            <%= link_to(post) do %>
            <div class="thumbnail">
              <img src="..." alt="...">
              <div class="caption">
                <h3><td><%= post.title %></td></h3>
                <p><%= post.content %></p>
                <p>
                  <%= link_to 'Edit', edit_post_path(post), class: "btn btn-md btn-success" %>
                  <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-md btn-danger" %>
                </p>
              </div>
            </div>
            <% end %>
          </div>
      <% end %>
    </div>
  
  <br>
  
  <%= link_to 'New Post', new_post_path %>
</div>

